#### Sql Alchemy and Python Execution Environment

0. sqlite3 ships with Python. So ensure you have python installed

1. Create the SQLite Database using the Command line

2. Ensure the connection string is working

3. Start the next steps

In [2]:
!cat sample_data.csv | head -n 5

,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
272410,7/9/13 6:08,groucho-sa,1017973657,TCP,unknown,6000.0,80.0,60.173.11.153,CN,China,Anhui Sheng,34,unknown,31.8639,117.2808
406083,8/26/13 23:41,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
411946,8/26/13 23:59,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
398065,8/24/13 15:41,groucho-tokyo,3076878818,UDP,unknown,50785.0,20029.0,183.101.113.226,KR,South Korea,unknown,unknown,unknown,37.57,126.98
cat: write error: Broken pipe

In [3]:
import pandas as pd
import sqlite3

def load_data(conn_string, data_file,table_name):
    """Database located at best in the same location as the file.
    When the data is provided, ensure the full path is provided.
    The table with the given name will be created.
    sqliteConn: sqlite3.connect(database_loc)
    postgres:"postgresql://{}:{}@{}:{}/{}".format(user,passwd,host,port,db)
    """
    dataframe = pd.read_csv(data_file)
    dataframe.drop('Unnamed: 0',axis=1,inplace=True)
    dataframe.to_sql(table_name, conn_string, if_exists='append',index=True)

In [4]:
dataframe = pd.read_csv("sample_data.csv")
dataframe.head(2)

,Unnamed: 0,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,272410,7/9/13 6:08,groucho-sa,1017973657,TCP,unknown,6000.0,80.0,60.173.11.153,CN,China,Anhui Sheng,34,unknown,31.8639,117.2808
1,406083,8/26/13 23:41,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328

In [ ]:
#dataframe.to_sql()

In [5]:
#Helper functions to work with the database
def schemaGen(dataframe, schemaName):
    localSchema = pd.io.sql.get_schema(dataframe,schemaName)
    localSchema = localSchema.replace('TEXT','VARCHAR(255)').replace('INTEGER','NUMERIC').replace('\n','').replace('"',"")
    return "".join(localSchema)


def getSQLiteData(tableName, credentials):
    data = pd.read_sql("""SELECT * FROM {} LIMIT 10""".format(tableName),con=credentials)
    return data


#Using pandas read_sql for getting schema
def getSchema(tableName, credentials):
    schema = pd.read_sql("""SELECT * FROM information_schema.columns where table_name='{}'""".format(tableName),con=credentials)
    return schema

In [6]:
schemaGen(dataframe, 'trial_schema')

'CREATE TABLE trial_schema (Unnamed: 0 NUMERIC,  datetime VARCHAR(255),  host VARCHAR(255),  src NUMERIC,  proto VARCHAR(255),  type VARCHAR(255),  spt REAL,  dpt REAL,  srcstr VARCHAR(255),  cc VARCHAR(255),  country VARCHAR(255),  locale VARCHAR(255),  localeabbr VARCHAR(255),  postalcode VARCHAR(255),  latitude REAL,  longitude REAL)'

In [10]:
db_loc = 'tutorial_data.db'
data_loc = '~/sample_data.csv'
table_name = 'hack_data'

#load_data(db_loc,data_loc,table_name)

In [9]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('example.config'))
db = config['POSTGRES']['PG_DB']
user = config['POSTGRES']['PG_UNAME']
passwd = config['POSTGRES']['PG_PASS']
port = config['POSTGRES']['PG_PORT']
host = config['POSTGRES']['PG_HOST']

In [11]:
credentials = "postgresql://{}:{}@{}:{}/{}".format(user,passwd,host,port,db)

In [31]:
'postgresql://yourusername:yourpasswd@yourhost:5432/yourdb'

'postgresql://yourusername:yourpasswd@yourhost:5432/yourdb'

In [12]:
sqlite3.connect(db_loc)

In [34]:
#load data to sqlite3

In [13]:
load_data(sqlite3.connect(db_loc),data_file=data_loc,table_name=table_name)

In [35]:
#load the data to postgres db

In [14]:
load_data(credentials,data_file=data_loc,table_name='new_data')

In [15]:
getSQLiteData('hack_data',sqlite3.connect(db_loc))

,index,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,0,7/9/13 6:08,groucho-sa,1017973657,TCP,unknown,6000.0,80.0,60.173.11.153,CN,China,Anhui Sheng,34,unknown,31.8639,117.2808
1,1,8/26/13 23:41,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
2,2,8/26/13 23:59,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
3,3,8/24/13 15:41,groucho-tokyo,3076878818,UDP,unknown,50785.0,20029.0,183.101.113.226,KR,South Korea,unknown,unknown,unknown,37.5700,126.9800
4,4,7/4/13 13:05,groucho-eu,3639888355,TCP,unknown,47672.0,3389.0,216.244.73.227,US,United States,Washington,WA,98168,47.4891,-122.2908
5,5,5/31/13 15:59,zeppo-norcal,3363543193,TCP,unknown,2539.0,445.0,200.123.152.153,AR,Argentina,Buenos Aires F.D.,C,unknown,-34.5875,-58.6725
6,6,8/11/13 8:38,groucho-us-east,1150395419,TCP,unknown,4955.0,80.0,68.145.164.27,CA,Canada,Alberta,AB,unknown,51.0833,-114.0833
7,7,9/2/13 13:35,groucho-oregon,3416049639,TCP,unknown,60702.0,1433.0,203.156.199.231,CN,China,unknown,unknown,unknown,35.0000,105.0000
8,8,5/30/13 5:02,groucho-oregon,710979555,TCP,unknown,6000.0,1433.0,42.96.175.227,CN,China,Beijing Shi,11,unknown,39.9289,116.3883
9,9,7/2/13 20:33,groucho-tokyo,620788592,UDP,unknown,5085.0,5060.0,37.0.123.112,RU,Russia,Moscow,MOW,unknown,55.7522,37.6156

In [16]:
getSQLiteData('new_data',credentials)

,index,datetime,host,src,proto,type,spt,dpt,srcstr,cc,country,locale,localeabbr,postalcode,latitude,longitude
0,0,7/9/13 6:08,groucho-sa,1017973657,TCP,unknown,6000.0,80.0,60.173.11.153,CN,China,Anhui Sheng,34,unknown,31.8639,117.2808
1,1,8/26/13 23:41,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
2,2,8/26/13 23:59,groucho-tokyo,2945632252,UDP,unknown,25416.0,56338.0,175.146.199.252,CN,China,Liaoning,21,unknown,41.7922,123.4328
3,3,8/24/13 15:41,groucho-tokyo,3076878818,UDP,unknown,50785.0,20029.0,183.101.113.226,KR,South Korea,unknown,unknown,unknown,37.5700,126.9800
4,4,7/4/13 13:05,groucho-eu,3639888355,TCP,unknown,47672.0,3389.0,216.244.73.227,US,United States,Washington,WA,98168,47.4891,-122.2908
5,5,5/31/13 15:59,zeppo-norcal,3363543193,TCP,unknown,2539.0,445.0,200.123.152.153,AR,Argentina,Buenos Aires F.D.,C,unknown,-34.5875,-58.6725
6,6,8/11/13 8:38,groucho-us-east,1150395419,TCP,unknown,4955.0,80.0,68.145.164.27,CA,Canada,Alberta,AB,unknown,51.0833,-114.0833
7,7,9/2/13 13:35,groucho-oregon,3416049639,TCP,unknown,60702.0,1433.0,203.156.199.231,CN,China,unknown,unknown,unknown,35.0000,105.0000
8,8,5/30/13 5:02,groucho-oregon,710979555,TCP,unknown,6000.0,1433.0,42.96.175.227,CN,China,Beijing Shi,11,unknown,39.9289,116.3883
9,9,7/2/13 20:33,groucho-tokyo,620788592,UDP,unknown,5085.0,5060.0,37.0.123.112,RU,Russia,Moscow,MOW,unknown,55.7522,37.6156

In [17]:
getSchema('new_data',credentials)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,new_data,index,1,None,YES,bigint,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,public,new_data,src,4,None,YES,bigint,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,public,new_data,spt,7,None,YES,double precision,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,public,new_data,dpt,8,None,YES,double precision,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,public,new_data,latitude,15,None,YES,double precision,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,public,new_data,longitude,16,None,YES,double precision,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,public,new_data,localeabbr,13,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,public,new_data,postalcode,14,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,postgres,public,new_data,srcstr,9,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,postgres,public,new_data,cc,10,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,postgres,public,new_data,country,11,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,postgres,public,new_data,datetime,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,postgres,public,new_data,host,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,postgres,public,new_data,locale,12,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,postgres,public,new_data,proto,5,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,postgres,public,new_data,type,6,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [18]:
from sqlalchemy import create_engine, select
from sqlalchemy.ext.declarative import declarative_base
#from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
from sqlalchemy import Column, Integer, Float, String
from sqlalchemy.sql.sqltypes import TIMESTAMP

In [19]:
db_conn = create_engine('sqlite:///tutorial_data.db')
Base = declarative_base()

In [20]:
#This is a sqlalchemy object. Because it is inheriting Base
class Hacker(Base):
    """Hacker class provides access to the table hack_data in any Database"""
    __tablename__ = 'hack_data'
    Index = Column(Integer, primary_key=True,nullable=False)
    Datetime = Column(String)
    Host = Column(String)
    Src = Column(Integer)
    Proto = Column(String)
    Type = Column(String)
    Spt = Column(Float)
    Dpt = Column(Float)
    Srcstr = Column(String)
    Cc = Column(String)
    Country = Column(String)
    Locale = Column(String)
    Localeabbr = Column(String)
    Postalcode = Column(String)
    Latitude = Column(Float)
    Longitude = Column(Float)

https://github.com/tiangolo/pydantic-sqlalchemy

https://docs.sqlalchemy.org/en/14/orm/quickstart.html#declare-models

In [21]:
from pydantic_sqlalchemy import sqlalchemy_to_pydantic
PydanticHacker = sqlalchemy_to_pydantic(Hacker)

In [22]:
from sqlalchemy.orm import relationship, sessionmaker
HackerSession = sessionmaker(bind=db_conn)
db_exec : Session = HackerSession()

In [23]:
hackerData = db_exec.query(Hacker).first()

In [24]:
hackerData

In [25]:
type(hackerData)

__main__.Hacker

In [26]:
pyd_hacker_data = PydanticHacker.from_orm(hackerData)

In [27]:
pyd_hacker_data

Hacker(Index=0, Datetime='7/9/13 6:08', Host='groucho-sa', Src=1017973657, Proto='TCP', Type='unknown', Spt=6000.0, Dpt=80.0, Srcstr='60.173.11.153', Cc='CN', Country='China', Locale='Anhui Sheng', Localeabbr='34', Postalcode='unknown', Latitude=31.8639, Longitude=117.2808)

In [28]:
python_dict = pyd_hacker_data.dict()

In [29]:
python_dict

{'Index': 0,
 'Datetime': '7/9/13 6:08',
 'Host': 'groucho-sa',
 'Src': 1017973657,
 'Proto': 'TCP',
 'Type': 'unknown',
 'Spt': 6000.0,
 'Dpt': 80.0,
 'Srcstr': '60.173.11.153',
 'Cc': 'CN',
 'Country': 'China',
 'Locale': 'Anhui Sheng',
 'Localeabbr': '34',
 'Postalcode': 'unknown',
 'Latitude': 31.8639,
 'Longitude': 117.2808}

In [30]:
#New ORM for the table tutorial_pyd
class Tutorial(Base):
    """Tutorial class provides access to the table tutorial_pyd in any Database"""
    __tablename__ = 'tutorial_pyd'
    Index = Column(Integer, primary_key=True,nullable=False)
    Host = Column(String)
    Student = Column(String)
    Country = Column(String)
    Postalcode = Column(Integer)
    Latitude = Column(Float)
    Longitude = Column(Float)

In [31]:
Base.metadata.create_all(db_conn)

In [32]:
std1 = Tutorial(Host='Martian',Student='Venusian',
                Country='Tiberi',Postalcode=1578689,
               Latitude=576.68,Longitude=265.79)

In [33]:
db_exec.add(std1)
db_exec.commit()

In [34]:
tutorialData = db_exec.query(Tutorial).first()
pydanticTutorial = sqlalchemy_to_pydantic(Tutorial)
tutorialOutput = pydanticTutorial.from_orm(tutorialData)
tutorialOutput

Tutorial(Index=1, Host='Martian', Student='Venusian', Country='Tiberi', Postalcode=1578689, Latitude=576.68, Longitude=265.79)